# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
.idea/
*.egg-info/
*.dist-info/

# Java
*.class
*.jar
*.war
*.ear
target/
*.iml
*.classpath
*.project
/.idea/

# Swift
DerivedData/
*.xccheckout
*.xcodeproj/
*.xcworkspace/

# Default ignored files
/shelf/
/workspace.xml
